{{#with model as |task|}}

<h1 class=task-title>
  {{task.title}}
  <small>
    {{#if task.isFinished}}
      <span class="label label-primary">
        Finished!
      </span>
    {{else}}{{/if}}
  </small>
</h1>

{{task-buttons task=task}}

<p class=task-descr>
  {{break-newlines task.description}}
</p>

{{/with}}
