<div class="container">
  <h2 id="site-title">{{siteTitle}}</h2>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      {{outlet}}
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid">
    <p>&copy;2015, GPLv3</p>
  </div>
</footer>
